*.log
*.egg-info
*.pot
*.py[co]
*.pyc
.tox/
*/.DS_Store
.DS_Store
img/
media/
__pycache__
*.json
*.sqlite3
*.zip



.idea/
.ipynb_checkpoints/
*.ipynb

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
